<p id="notice"><%= notice %></p>

<p>
  <strong>Uri:</strong>
  <%= @playlist.uri %>
</p>

<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @playlist.creator %>
</p>

<p>
  <strong>Tracking:</strong>
  <%= @playlist.tracking %>
</p>

<p>
  <strong>Playlist Type:</strong>
  <%= @playlist.ptype %>
</p>

<table>
  <tr>
    <td>Track Name</td>
    <td>Track URI</td>
  </tr>
  <% @playlist.tracks.each do |t| %>
    <tr>
      <td><%=t.name%></td>
      <td><%=t.uri%></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
